*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/home.jpg);
    height: 250vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;

}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid transparent;
    transition: 0.6s ease-in-out;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}
ul li.s_active a{
    background-color: #fff;
    color: #000;
}
ul li.g_active a{
    background-color: #fff;
    color: #000;
}
ul li.a_active a{
    background-color: #fff;
    color: #000;
}
ul li.c_active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 100px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
    
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title#academics{
    top: 20%;
}

.title h1{
    color: #fff;
    font-size: 50px;
}

.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.butto{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-10%);
    color: #fff;
    line-height: 2rem;
    font-size: 150%;
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}


  .button #academics_paragraph{
    color: #fff;
    font-size: 20px; 
    font-family: sans-serif;
    
}